body {
  background: url("/image/19872298.jpg") center center/cover;
  padding: 0;
  margin: 0;
  background-repeat: no-repeat;
  height: 65vh;
}

.message {
  background: white;
  border: 2px solid black;
  width: 20vw;
}

.btn-start {
  background-color: #B0E0E6;
}

#pigeon {
  height: 100px;
  position: absolute;
  width: 100px;
  height: 100px;
  top: 50%;
  right: 80%;

}

#arbreHaut {
  width: 200px;
  height: 500px;
  margin-left: 438px;
  margin-top: -80px;
  margin-bottom: 50px;
  transform:rotate(180deg);
  object-fit: cover;
}


#arbreBas {
  width: 200px;
  /* height: 500px;*/
  margin-left: 430px;
  margin-top: 170px;
  object-fit: cover;
  object-position: bottom 100px left 0px;
}

